.blog-div {
  background: #757f9a;
  background: -webkit-linear-gradient(to right, #d7dde8, #757f9a);
  background: linear-gradient(to right, #d7dde8, #757f9a);
  padding-bottom: 3rem;
  min-height: 100vh;
}
.blog-component {
  margin: 4rem 4rem;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  row-gap: 2rem;
  column-gap: 4rem;
}
.blog-div .team-title {
  text-align: center;
  font-size: 5rem;
}
.blog-div .team-title span {
  color: chartreuse;
}
@media (max-width: 920px) {
  .blog-component {
    margin: 3rem 2rem;

    grid-template-columns: repeat(2, 1fr);
    row-gap: 2rem;
    column-gap: 1rem;
  }
  .blog-div .team-title {
    font-size: 4rem;
  }
}
@media (max-width: 700px) {
  .blog-div .team-title {
    font-size: 3rem;
  }
}
@media (max-width: 550px) {
  .blog-div .team-title {
    font-size: 2.5rem;
  }
  .blog-component {
    margin: 2rem 2rem;

    grid-template-columns: 1fr;
    row-gap: 2rem;
    column-gap: 1rem;
  }
}
