.main_container-event {
  background: #757f9a;
  background: -webkit-linear-gradient(to right, #d7dde8, #757f9a);
  background: linear-gradient(to right, #d7dde8, #757f9a);
}
a,
a:hover,
:active,
a:visited {
  text-decoration: none;
}
a {
  color: inherit;
}
.main_container-event .team-title {
  text-align: center;
  font-size: 4rem;
}
.main_container-event .team-title span {
  color: chartreuse;
}
.container-event {
  margin: 0 2rem 0 2rem;
  padding: 0rem 1rem;
}
.events .card {
  margin: 2rem 0;
  display: grid;
  grid-template-columns: 1fr 4fr;
  /* align-items: center; */
  background: #314755; /* fallback for old browsers */
  background: -webkit-linear-gradient(
    to right,
    #26a0da,
    #314755
  ); /* Chrome 10-25, Safari 5.1-6 */
  background: linear-gradient(
    to right,
    #26a0da,
    #314755
  ); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */

  padding: 1rem;
}
.events .card img {
  width: 10rem;
  height: 100%;
  max-height: 12rem;
}
.events .card .content {
  padding: 0 1rem;
}
.events .card .content .event-name {
  color: #980c6c;
  font-weight: 700;
}
.events .card .content .event-details {
  color: #ffffff;
}
.events .card .content .event-link {
  color: #3e1837;
  font-size: 1.2rem;
  text-decoration: underline;
}
.events .card .content .event-link:hover {
  text-decoration: none;
  letter-spacing: 1px;
}
.event-link {
  background-color: inherit;
  border: none;
}
@media (max-width: 850px) {
  .main_container-event .team-title {
    font-size: 3.4rem;
  }
}
@media (max-width: 700px) {
  .main_container-event .team-title {
    font-size: 2.4rem;
  }
  .events .card {
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 1fr 1fr;
    justify-items: center;
    align-items: center;
  }

  .events .card .content .event-name {
    text-align: center;
  }
}
@media (max-width: 500px) {
  .events .card {
    grid-template-rows: 1fr 1.5fr;
    row-gap: 1rem;
  }
  .main_container-event .team-title {
    font-size: 3rem;
  }
}
@media (max-width: 400px) {
  .events .card {
    grid-template-rows: 1fr 2fr;
    row-gap: 1rem;
  }
}
