/* /////////////////\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\ */
@import url("https://fonts.googleapis.com/css2?family=Jost:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;1,100&display=swap");

.main-nav {
  width: 100%;
  display: grid;
  grid-template-columns: 1rem 1fr 1fr 1rem;
  align-content: center;
  background-image: linear-gradient(to right, #0f0c29, #302b63, #24243e);
  box-shadow: rgba(50, 50, 93, 0.25) 0px 50px 100px -20px,
    rgba(0, 0, 0, 0.3) 0px 30px 60px -30px;
}

.hover {
  border: 2px solid transparent;
  padding: 0.5rem 1rem;
  position: relative;
  vertical-align: middle;
}
.hover::before,
.hover::after {
  box-sizing: inherit;
  content: "";
  position: absolute;
  border: 2px solid transparent;
  width: 0;
  height: 0;
}
.hover {
  transition: color 0.25s;
}

.hover::before {
  top: 0;
  left: 0;
}

.hover::after {
  top: 0;
  left: 0;
}

.hover:hover::before,
.hover:hover::after {
  width: 100%;
  height: 100%;
}

.hover:hover::before {
  border-top-color: yellow;
  border-right-color: cyan;
  transition: width 0.1s ease-out, height 0.1s ease-out 0.1s;
}

.hover:hover::after {
  border-bottom-color: yellow;
  border-left-color: cyan;
  transition: height 0.1s ease-out, width 0.1s ease-out 0.1s;
}

.hover:hover {
  --_i: 100%;
  color: #07ff2c;
  transition: 0.1s, -webkit-mask-size 0.1s 0.1s;
}

.logo {
  grid-column: 2/3;

  padding: 1rem 0;
  color: #fff;
}
.logo h1 {
  font-size: 4rem;
  letter-spacing: 2px;
}
.menu-link ul {
  display: flex;
  justify-content: space-around;
  list-style-type: none;
  align-items: center;
  margin: 0;
  padding: 2rem 0;
}

.menu-link ul {
  color: #fff;
}
.menu-link ul li {
  font-size: 1.2rem;
}
.logout_btn {
  background-color: inherit;
  border: 1px solid transparent;
  color: inherit;
}
.menu-link ul li a {
  text-transform: capitalize;
}

.hamburger-menu {
  display: none;
}

/* responsive css style  */
@media (max-width: 998px) {
  .main-nav {
    grid-template-columns: 1rem 1fr 1fr 1rem;
  }
  .logo {
    grid-column: 2/3;
  }
  .menu-link {
    display: none;
  }

  .mobile-menu-link {
    grid-column: 2/4;
    position: relative;
    z-index: 99;
  }

  .mobile-menu-link {
    background-image: linear-gradient(to right, #0f0c29, #302b63, #24243e);
    height: 20rem;
    display: grid;
    /* grid-column: 2/5; */
    align-items: center;
    padding-left: 3rem;
    transition: all 2s linear;
    transform-origin: top;
    box-shadow: rgba(50, 50, 93, 0.25) 0px 50px 100px -20px,
      rgba(0, 0, 0, 0.3) 0px 30px 60px -30px;
  }

  .mobile-menu-link ul {
    height: 20rem;
    display: flex;
    justify-content: space-between;
    flex-direction: column;
    align-items: start;
  }

  .mobile-menu-link ul li:first-child {
    transition-delay: 0.2s;
  }

  .hamburger-menu {
    grid-column: 3/4;
    grid-row: 1/2;
    display: block;
    font-size: 2.5rem;
    color: #fff;
    justify-self: right;
  }
}

@media (max-width: 798px) {
  .main-nav {
    grid-template-columns: 1rem 1fr 1fr 1rem;
  }
  .logo {
    grid-column: 2/3;
  }
  .hamburger-menu {
    display: block;
    font-size: 2.5rem;
  }
  .logo h1 {
    font-size: 3rem;
  }
}

@media (max-width: 520px) {
  .main-nav {
    grid-template-columns: 1rem 1fr 1fr 1rem;
  }

  .logo {
    grid-column: 2/3;
    font-size: 2rem;
  }

  .hamburger-menu {
    display: block;
    font-size: 2.5rem;
  }
  .logo h1 {
    font-size: 2rem;
  }
}
