/* #team_member {
  background-color: rgb(178, 216, 249);
  padding: 2rem;
} */
#team_member .members {
  display: flex;
  justify-content: space-between;
}
#team_member .member {
  border-radius: 15px;
  max-width: 16rem;
  width: 100%;
  padding: 2.3rem 2.3rem;
  height: max-content;
  background-color: #fff;
  transition: all 1s;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  position: relative;
  cursor: pointer;
}

#team_member .member::after {
  position: absolute;
  top: 0;
  left: 0;
  content: "";
  width: 0;
  height: 1rem;
  transition: all 1s;
  background: rgba(8, 61, 119);
}

#team_member .member::before {
  position: absolute;
  top: 0;
  right: 0;
  content: "";
  width: 0;
  height: 1rem;
  transition: all 1s;
  background: rgba(8, 61, 119);
}
#team_member .lead-title {
  color: #000;
  text-align: center;
}
#team_member img {
  width: 10rem;
  height: 10rem;
  border-radius: 50%;
  transition: all 1s;
}

#team_member .description h1 {
  color: rgba(8, 61, 119);
  text-align: center;
}

#team_member .description h2 {
  font-family: "Poppins", sans-serif;
  text-align: center;
  color: #f21b3f;
  font-weight: 600;
  font-size: 18px;
}

#team_member .description p {
  color: rgba(8, 61, 119);
  text-align: justify;
  padding: 0 15px;
}

#team_member .social-media {
  position: absolute;
  background-color: rgba(8, 61, 119);
  bottom: 0;
  left: 0;
  width: 100%;
  display: flex;
  padding: 0.5rem;
  justify-content: space-around;
  transition: all 1s;
  width: 0;
  opacity: 0;
  border-radius: 0 0 15px 15px;
  color: #fff;
}

#team_member .description .social-media svg {
  font-size: 1.5rem;
  transition: all 1s;
}

#team_member .member:hover .social-media {
  width: 100%;
  opacity: 1;
}

#team_member .member:hover {
  background-color: rgba(8, 61, 119, 0.2);
  transform: scale(1.01);
}

#team_member .member:hover img {
  transform: scale(1.1);
  border: 2px solid rgba(8, 61, 119);
}

#team_member .description .social-media svg:hover {
  transform: scale(1.1);
  color: #f21b3f;
}

#team_member .member:hover::before {
  width: 50%;
}

#team_member .member:hover::after {
  width: 50%;
}

@media (max-width: 850px) {
  #team_member .member {
    max-width: 15rem;
    width: 100%;
    margin: 0;
  }
  #team_member .description h2 {
    font-weight: 500;
    font-size: 1.3rem;
  }
  #team_member .description h1 {
    font-size: 2rem;
  }
  #team_member img {
    width: 9rem;
    height: 9rem;
  }
  #team_member .social-media {
    padding: 8px 0;
  }
  #team_member .member::after {
    height: 1rem;
  }

  #team_member .member::before {
    height: 1rem;
  }
  #team_member .description .social-media svg {
    font-size: 1.4rem;
  }
  .lead-title {
    margin-bottom: 1rem;
  }
}

@media (max-width: 960px) {
  #team_member .member {
    max-width: 20rem;
    width: 100%;
    margin: 0;
    margin-top: 0.5rem;
    padding: 2rem 1.5rem;
  }
  #team_member img {
    width: 9rem;
    height: 9rem;
  }
  #team_member .description h2 {
    font-size: 1rem;
  }
  #team_member .description h1 {
    font-size: 1.5rem;
  }

  #team_member .social-media {
    padding: 7px 0;
  }
}

@media (max-width: 650px) {
  #team_member .member {
    max-width: 12rem;
    width: 100%;
    margin: 0;
    margin-top: 0.5rem;
  }
  .member img {
    width: 7rem;
    height: 7rem;
  }
  #team_member .description h2 {
    font-size: 1rem;
  }
  #team_member .description h1 {
    font-size: 1.2rem;
  }
  #team_member .member {
    padding: 1.5rem 1.5rem;
  }
  .lead-title {
    margin-bottom: 0.8rem;
  }
  #team_member .social-media {
    padding: 2px 0;
  }
  #team_member .member::after {
    height: 8px;
  }

  #team_member .member::before {
    height: 8px;
  }
  #team_member .description .social-media svg {
    font-size: 1rem;
  }
}

@media (max-width: 590px) {
  #team_member .member {
    max-width: 12rem;
    width: 100%;
    margin: 0;
    margin-top: 0.5rem;
    padding: 2rem;
  }
  #team_member img {
    width: 5rem;
    height: 5rem;
  }
  #team_member .description h2 {
    font-size: 1rem;
  }
  #team_member .description h1 {
    font-size: 1.2rem;
  }

  #team_member .social-media {
    padding: 2px 0;
  }
  #team_member .member::after {
    height: 8px;
  }

  #team_member .member::before {
    height: 8px;
  }
  #team_member .description .social-media svg {
    font-size: 1rem;
  }
}
