#teamLead {
  background-color: rgb(178, 216, 249);
  padding: 2rem;
}
#teamLead .members {
  display: flex;
  justify-content: space-between;
}
#teamLead .member {
  margin: 20px 15px;
  border-radius: 15px;
  width: 400px;
  padding: 40px 0;
  height: max-content;
  background-color: #fff;
  transition: all 1s;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  position: relative;
  cursor: pointer;
}

#teamLead .member::after {
  position: absolute;
  top: 0;
  left: 0;
  content: "";
  width: 0;
  height: 20px;
  transition: all 1s;
  background: rgba(8, 61, 119);
}

#teamLead .member::before {
  position: absolute;
  top: 0;
  right: 0;
  content: "";
  width: 0;
  height: 20px;
  transition: all 1s;
  background: rgba(8, 61, 119);
}
#teamLead .lead-title {
  color: #000;
  text-align: center;
}
#teamLead img {
  border-radius: 50%;
  transition: all 1s;
}

#teamLead .description h1 {
  color: rgba(8, 61, 119);
  text-align: center;
}

#teamLead .description h2 {
  font-family: "Poppins", sans-serif;
  text-align: center;
  color: #f21b3f;
  font-weight: 600;
  font-size: 1.1rem;
}

#teamLead .description p {
  color: rgba(8, 61, 119);
  text-align: justify;
  padding: 0 15px;
}

#teamLead .social-media {
  position: absolute;
  background-color: rgba(8, 61, 119);
  bottom: 0;
  left: 0;
  width: 100%;
  display: flex;
  padding: 10px 0;
  justify-content: space-around;
  transition: all 1s;
  width: 0;
  opacity: 0;
  border-radius: 0 0 15px 15px;
  color: #fff;
}

#teamLead .description .social-media svg {
  font-size: 30px;
  transition: all 1s;
}

#teamLead .member:hover .social-media {
  width: 100%;
  opacity: 1;
}

#teamLead .member:hover {
  background-color: rgba(8, 61, 119, 0.2);
  transform: scale(1.01);
}

#teamLead .member:hover img {
  transform: scale(1.1);
  border: 2px solid rgba(8, 61, 119);
}

#teamLead .description .social-media svg:hover {
  transform: scale(1.1);
  color: #f21b3f;
}

#teamLead .member:hover::before {
  width: 50%;
}

#teamLead .member:hover::after {
  width: 50%;
}

@media (max-width: 850px) {
  #teamLead .member {
    max-width: 15rem;
    width: 100%;
    margin: 0;
  }
  #teamLead .description h2 {
    font-weight: 500;
    font-size: 1.3rem;
  }
  #teamLead .description h1 {
    font-size: 2rem;
  }
  #teamLead img {
    width: 9rem;
    height: 9rem;
  }
  #teamLead .social-media {
    padding: 8px 0;
  }
  #teamLead .member::after {
    height: 1rem;
  }

  #teamLead .member::before {
    height: 1rem;
  }
  #teamLead .description .social-media svg {
    font-size: 1.4rem;
  }
  .lead-title {
    margin-bottom: 1rem;
  }
}
@media (max-width: 800px) {
  #teamLead .members {
    display: grid;
    grid-template-columns: 1fr 1rem 1fr;
    justify-items: center;
    row-gap: 1rem;
  }
  #teamLead .member-first {
    grid-column: 1/2;
  }
  #teamLead .member-second {
    grid-column: 3/4;
  }
  #teamLead .member-third {
    grid-column: 1/2;
  }
}
@media (max-width: 680px) {
  #teamLead .member {
    max-width: 15rem;
    width: 100%;
    margin: 0;
    margin-top: 0.5rem;
  }
  #teamLead img {
    width: 9rem;
    height: 9rem;
  }
  #teamLead .description h2 {
    font-size: 1rem;
  }
  #teamLead .description h1 {
    font-size: 1.5rem;
  }
  #teamLead .member {
    padding: 2rem 0;
  }
  #teamLead .social-media {
    padding: 7px 0;
  }
}

@media (max-width: 580px) {
  #teamLead .member {
    max-width: 12rem;
    width: 100%;
    margin: 0;
    margin-top: 0.5rem;
  }
  #teamLead img {
    width: 7rem;
    height: 7rem;
  }
  #teamLead .description h2 {
    font-size: 1rem;
  }
  #teamLead .description h1 {
    font-size: 1.2rem;
  }
  #teamLead .member {
    padding: 1.5rem 0;
  }
  .lead-title {
    margin-bottom: 0.8rem;
  }
  #teamLead .social-media {
    padding: 2px 0;
  }
  #teamLead .member::after {
    height: 8px;
  }

  #teamLead .member::before {
    height: 8px;
  }
  #teamLead .description .social-media svg {
    font-size: 1rem;
  }
}

@media (max-width: 580px) {
  #teamLead .member {
    max-width: 12rem;
    width: 100%;
    margin: 0;
    margin-top: 0.5rem;
  }
  #teamLead img {
    width: 5rem;
    height: 5rem;
  }
  #teamLead .description h2 {
    font-size: 1rem;
  }
  #teamLead .description h1 {
    font-size: 1.2rem;
  }
  #teamLead .member {
    padding: 1.5rem 0;
  }
  #teamLead .social-media {
    padding: 2px 0;
  }
  #teamLead .member::after {
    height: 8px;
  }

  #teamLead .member::before {
    height: 8px;
  }
  #teamLead .description .social-media svg {
    font-size: 1rem;
  }
}
